* {
    margin: 0;
    font-size: 12px;
}

.w-70 {
    width: 70%;
}

.bg-orange {
    background-color: orange;
}

.bg-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}

.bg-yellow {
    background-color: yellow;
}

.bg-lightsalmon {
    background-color: lightsalmon;
}

.text-orange {
    color:orange;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 4px;
    padding: 4px;
    margin:auto;
}

.footer {
    padding: 30px 0;
    text-align: center;
    width: 100%;
}